@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 200;
    src: url('./Cairo-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 300;
    src: url('./Cairo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('./Cairo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 500;
    src: url('./Cairo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    src: url('./Cairo-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url('./Cairo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 800;
    src: url('./Cairo-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 900;
    src: url('./Cairo-Black.ttf') format('truetype');
}